<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>팀에 속한 선수 목록</h2>
    <table class="table table-sm border-bottom">
        <thead class="thead-light">
            <tr>
                <th scope="col">name</th>
                <th scope="col">position</th>
                <th scope="col">age</th>
                <th scope="col">height</th>
                <th scope="col">weight</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% if(datas2==null || datas2.length==0){ %>
                <tr>
                    <td colspan = 1> 생성된 선수가 없습니다. 이전 단계로 돌아가 생성해주세요. </td>
                </tr>
            <% } %>
            <% datas2.forEach(function(data2) { %>
                <tr>
                    <td>
                        <a href="/season/team/<%= data2.team_id %>/player/<%= data2.id %>/teamgs/show">
                            <div class="title-ellipsis ellipsis float-left">
                                <span class="title-text"><%= data2.name %></span>
                            </div>
                        </a>
                    </td>
                    <td>
                        <div class="title-ellipsis ellipsis float-left">
                            <span class="title-text"><%= data2.position %></span>
                        </div>
                    </td>
                    <td>
                        <div class="title-ellipsis ellipsis float-left">
                            <span class="title-text"><%= data2.age %></span>
                        </div>
                    </td>
                    <td>
                        <div class="title-ellipsis ellipsis float-left">
                            <span class="title-text"><%= data2.height %></span>
                        </div>
                    </td>
                    <td>
                        <div class="title-ellipsis ellipsis float-left">
                            <span class="title-text"><%= data2.weight %></span>
                        </div>
                    </td>
                    <td>
                        <form action="http://localhost:6001/season/team/<%= data2.team_id %>/player/<%= data2.id %>/delete" method="post">                  
                            <input class="btn btn-primary"type="submit" value="삭제">                         
                        </form>
                    </td>
                </tr>
                <% if(data2==datas2[0]){ %>
                    <a href="/season/team/<%= data2.team_id %>/player/<%= data2.id %>/teamgs/select">
                        <button>팀 경기 성적 생성</button>
                    </a>
                    <a href="/season/show">
                        <button>처음 단계</button>
                    </a>
                <% } %>
            <% }) %>
        </tbody>
    </table>
</body>
</html>